@model IEnumerable<InmobiliariaJanett.Models.Contrato>


<h2>
    @ViewBag.Title
</h2>
<BR>

<form class="form-inline" asp-action="BuscarInmueblesPorFecha" asp-controller="Inmuebles">
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaInicio" class="control-label"></label>
        <input name="FechaInicio" type="date" class="form-control" required />
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaFin" class="control-label"></label>
        <input name="FechaFin" type="date" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-dark"style="margin-bottom: 9px;">Inmuebles disponibles</button>
</form>
<form class="form-inline" asp-action="BuscarVigentes" asp-controller="Contratos">
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaInicio" class="control-label"></label>
        <input name="FechaInicio" type="date" class="form-control" required />
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaFin" class="control-label"></label>
        <input name="FechaFin" type="date" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-dark" style="margin-bottom: 9px;">Contratos Vigentes</button>
</form>

<br>
<br>
<a asp-action="Create" class="btn btn-dark" style="width:180px;">Crear nuevo <i class="fas fa-plus"> </i></a>

<a asp-action="IndexPorInmueble" class="btn btn-dark" style="width:180px;">Ver Inmuebles <i class="fas fa-plus"> </i></a>

<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmueble.Direccion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaInicio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaFin)
    </td>
    <td>
        @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
    </td>
    <td>
        <a asp-action="Create" asp-route-id="@item.Id" asp-controller="Pagos" title="Pagar"><i class="fas fa-plus"> </a>&nbsp;
        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>&nbsp;
        <a asp-action="Details" asp-route-id="@item.Id" title="Detalles"><i class="fas fa-history"></i></a>&nbsp;

        @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
        {
<a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash-alt"></i></a>} &nbsp;

        <a asp-action="PorContrato" asp-controller="Pagos" asp-route-id="@item.Id" title="Ver Pagos"><i class="fas fa-file-signature"></i></a>

    </td>

</tr>}
    </tbody>
</table>

