@model  IEnumerable<InmobiliariaJanett.Models.Pago>

@{
   ViewData["Title"]="PorContrato" ;
          }

<h2>Registro de PagoS</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NroPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Importe)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>&nbsp;
        @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
        {
<a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash-alt"></i></a>           
        }
    </td>
</tr>
}
    </tbody>
</table>


