@model  IEnumerable<InmobiliariaJanett.Models.Pago>

@{
   ViewData["Title"]="PorContrato" ;
          }

<h2>Registro de PagoS</h2>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @(item.Contrato.Inquilino.Nombre + " " + item.Contrato.Inquilino.Apellido)
            </td>
            <td>
                @(item.Contrato.Inmueble.Direccion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                <i class="fa fa-edit"></i>
                @Html.ActionLink("Editar", "edit", new { id = item.Id }) ||
                @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                {
                    <i class="fa fa-trash"></i>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { onclick = "return confirm('Borrar el Pago?')" })
                }
            </td>
        </tr>
}
    </tbody>
</table>


