@model  IEnumerable<InmobiliariaJanett.Models.Pago>

@{
   ViewData["Title"]="PorContrato" ;
          
    }

<h4>Pagos del propietario: </h4>
    <p>
    <a asp-action="Create" class="btn btn-dark" style="width:180px;"> Crear nuevo <i class="fas fa-plus"> </i></a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @(item.Contrato.Inquilino.Nombre + " " + item.Contrato.Inquilino.Apellido)
                </td>
                <td>
                    @(item.Contrato.Inmueble.Direccion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NroPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>&nbsp;
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
    <a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash-alt"></i></a>}
                    &nbsp;<a asp-action="indexPorInmueble" asp-controller="Contratos" asp-route-id="@item.Id" title="Contratos"><i class="fas fa-file-signature"></i></a>
                </td>
            </tr>
}
    </tbody>
</table>


