@model IEnumerable<InmobiliariaJanett.Models.Inquilino>

@{ ViewData["Title"] = "Inquilinos"; }



<p>
    <a asp-action="Create" class="btn btn-dark" style="width:180px;">Crear nuevo <i class="fas fa-plus"> </i></a>

<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdInquilino)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dni)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdInquilino" title="Editar"><i class="fas fa-edit"></i></a>&nbsp;
        <a asp-action="Details" asp-route-id="@item.IdInquilino" title="Detalles"><i class="fas fa-history"></i></a>&nbsp;

        @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
        {
            <a asp-action="Delete" asp-route-id="@item.IdInquilino" title="Eliminar"><i class="fas fa-trash-alt"></i></a>} &nbsp;
        }

    </td>
</tr>}
    </tbody>
</table>
