@model IEnumerable<InmobiliariaJanett.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var usuario in (IList<Usuario>)ViewBag.usuarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => usuario.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>usuario.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => usuario.RolNombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=usuario.Id }) |
                @Html.ActionLink("Details", "Details", new { id = usuario.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=usuario.Id })
            </td>
        </tr>
}
    </tbody>
</table>
